#warzone-container {
  background: url("./warzone.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 481px) {
  .portrait-warning {
    display: none;
  }
}

.form-group {
  margin-bottom: 0 !important;
}

.tinted-container {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 768px;
  margin: auto;
  color: white !important;
}

.table {
  margin-bottom: 0 !important;
}

.date {
  padding: 5px;
  margin: 0;
  font-weight: bold;
  border-top: 1px solid darkgray !important;
}

.tinted-container table th,
.tinted-container table td {
  text-align: center;
  color: white !important;
  border-top: 1px solid darkgray !important;
  border-bottom: none !important;
}

.warzone-logo {
  font-family: "Sigmar One", cursive;
  color: white;
  text-align: center;
  font-size: 60px;
  margin: 0.1em;
  line-height: 60px;
}
